// Body
$body-bg: #ffffff;
// Typography
$font-family-sans-serif: 'Raleway',
sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
// Colors
$blue: #1D70B7;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #E95A0C;
$orange: #f6993f;
$yellow: #f1ba40;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;