main {
    min-height: 60vh;
}

strong,
.bold {
    font-weight: 600;
}

em,
.italic {
    font-style: italic;
}

.inherit {
    color: inherit !important;
}

.no-decoration {
    text-decoration: none !important;
}

.offset-navbar {
    padding-top: 55px;
}

.bg-leyla {
    background: linear-gradient(rgba(10, 10, 10, .4), rgba(20, 20, 20, .4)), url('/img/bg-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

@media screen and(max-width: 767px) {
    .bg-leyla {
        background: linear-gradient(rgba(10, 10, 10, .4), rgba(20, 20, 20, .4)), url('/img/bg-home-mobile.jpg');
        background-size: 100%;
        background-position: center;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #212529;
}

.navbar-toggler {
    border: none !important;
}

.vh-home {
    min-height: 60vh;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .vh-home {
        min-height: 68vh;
    }
}

.vh-90 {
    min-height: 90vh;
}

.vh-40 {
    min-height: 40vh;
}

.vh-30 {
    min-height: 30vh;
}

.container-large {
    max-width: 1400px;
}

.bg-lightgray {
    background-color: #f2f2f2;
}

.bg-lightgreen {
    background-color: #ccead8;
}

.bg-alert{
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
}
.bg-alert:hover{
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
}

.display-5 {
    font-size: 4rem;
}

@media screen and (max-width: 767px) {
    .display-5 {
        font-size: 3rem;
    }
}

.text-shadowed {
    text-shadow: 1px 1px 2px rgba(55, 55, 55, .6);
}

.box-shadowed {
    box-shadow: 1px 1px 5px rgba(155, 155, 155, .8);
}

// input[type="checkbox"]:checked+label .plus {
//     background-color: #f1ba40;
//     color: #fff;
// }
.balance-summary {
    top: 55px;
    z-index: 1 !important;
    background-color: white;
}

.container-large {
    max-width: 1400px;
}

.display-5 {
    font-size: 40px;
}

.counter-button {
    background-color: whitesmoke;
    color: black;
    border-radius: 100%;
    height: 35px;
    width: 35px;
}

@media screen and (max-width: 767px) {
    .fixed-bottom-smart {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@media screen and (max-width: 376px) {
    .d-smart-none{
        display: none;
    }
}